/* global css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

body {
    overflow-x:hidden;
    background:white;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.ggreen {
    color: #11b7b5!important;
}
.gaccent {
    color: #FF3300!important;
}
.green-button{
    background-color: #11b7b5;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    margin: 10px;
}
.accent-button{
    background-color: #FF3300;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    margin: 10px;
}
a.green-button, a.accent-button{
    color: white;
}

.green-button:hover{
    background-color: #0E9795;
    color: white;
}

ul{
    list-style: none;
}