.footer .container{
    max-width: 100%;
    padding-top: 30px;
    font-weight: 500;
}
.footer ul{
    padding-left:0!important;
}
.footer li{
    margin-top: 10px;
}
.footer a{
    color: black;
}
.footer h5{
    color:#11B7B5;
    font-size:25px;
}
.footer .icons a{
    color:#11B7B5;
    font-size:30px;
}
.footer .icons svg:not(:root).svg-inline--fa{
    margin:10px;
}
.footer .form-group{
    border:1px solid gray;
}
.footer input{
    border:none;
    width: 100%;
}
.footer input::placeholder{
    padding: 10px;
}
.footer button.green-button{
    border:none;
    margin:0;
    border-radius: 0;
}