header {
    padding: 20px;
    background: white;
}

header a.nav-link, header .nav-item a {
    color: black;
}

header .logo {
    margin-right: 30px;
}

header .nav-item:not(.dropdown) {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 10px;
}

header .dropdown.show a, header .dropdown.show a:hover {
    color: black;
}

header .dropdown a:hover {
    cursor: pointer;
    color: black;
}
.dropdown-toggle::after{
    color: #11b7b5;
}

header .dropdown-menu {
    min-width: 12rem;
}

header .dropdown-menu li {
    margin: 10px;
}

header .dropdown-menu span.ggreen {
    margin-left: 7px;
    padding-top: 5px;
}

header .buttons {
    padding-top: 10px;
}

header .login {
    color: black;
    opacity: 0.5;
}

header .custom-btn {
    margin-left: 10px
}

header .custom-btn .green-button {
    padding: 10px;
}

header hr {
    width: 20px;
    transform: rotate( 90deg);
    opacity: 0.5;
    margin-right: 30px;
    margin-top: 15px;
}

.modal-90w {
    width: 90%!important;
}

.modal-dialog img {
    object-fit: contain;
    height: 400px;
    width: 100%;
}
.modal-header,.modal-footer{
    border:none!important;
}
.modal-body .col-lg-4{
    border-right: 1px solid rgb(206, 206, 206);
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: none!important;
        width: 90%!important;
        margin: 1.75rem auto;
    }
}