.home .header {
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

.home .header h3 {
    font-weight: 600;
}

.home h2 {
    font-size: 42px;
}

.home p {
    font-size: 18px;
}

.home a {
    font-weight: 600;
}

.home .hero-bg1 {
    position: absolute;
    top: 0;
    left: -20;
    z-index: -1;
}

.home .hero-bg2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* hero section */

.home .hero-section {
    height: 90vh;
    margin: 0px auto;
    padding: 60px 30px;
}

.home .hero-section .play-icon {
    margin-right: 10px;
    font-size: 25px;
}

.home .text-container {
    padding-top: 10%;
}

.home .hero-section .green-button a {
    color: white;
}

.home .hero-section .gaaccent-wrapper {
    margin-top: 10px;
}

.home .hero-section a.gaccent {
    color: #FF3300;
    padding: 7px;
    margin: 10px;
}

/* How Goopter works  */

.home .howGoopter .hg-bg3 {
    position: absolute;
    top: -150px;
    right: 0;
    height: 300px;
}

.home .howGoopter .hg-bg4 {
    position: absolute;
    bottom: -90px;
    left: 0;
    height: 300px;
}

.home .howGoopter {
    position: relative;
    background-color: #E7F8F8;
}

.home .howGoopter .carousel-inner img {
    height: 400px;
    object-fit: contain;
}

.home .howGoopter .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2311B7B5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.home .howGoopter .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2311B7B5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.home .howGoopter .carousel-indicators button {
    background-color: #11B7B5;
}

/* software solution */

.home .softwareSlution {
    padding-top: 70px;
}

.home .softwareSlution .row {
    padding-top: 80px;
    padding-bottom: 80px;
}

.home .softwareSlution .text-wrapper {
    padding-top: 20%;
    width: 80%;
    margin: 0 auto;
}

.home .softwareSlution .text-wrapper .title {
    position: relative;
}

.home .softwareSlution .text-wrapper .title img {
    width: 140px;
    position: absolute;
    top: -70px;
}

.home .softwareSlution .text-wrapper .btn-wrapper {
    margin-top: 20px;
}

.home .softwareSlution .text-wrapper .btn-wrapper a.accent-button, .home .softwareSlution .text-wrapper .btn-wrapper a.green-button {
    padding: 0.7rem 2rem;
}

.home .softwareSlution .row .title {
    width: 50%;
}

.home .softwareSlution img {
    width: 100%;
    object-fit: cover;
}

.home .softwareSlution ul {
    margin-left: 25%;
    margin-top: 10px
}

.home .softwareSlution ul li span {
    margin-right: 10px;
}

/* hardware solution */

.home .hardwareSlution .contents {
    background-image: linear-gradient(to right, #E9F8F8, white);
}

.home .hardwareSlution .contents .card {
    padding: 20px;
}

.home .hardwareSlution .contents .card .pwrapper {
    margin-top: 20px;
    height: 220px;
    overflow-y: auto;
}

/* Is Goopter right for you? */

.isGoopter .contents {
    background: #E7F8F8;
    padding: 30px;
}

.isGoopter .contents .contentsNav a li {
    color: black;
    font-weight: 400;
}

.isGoopter .contents .contentsNav a.active li {
    font-weight: 600;
    margin-left: -23px;
}

.isGoopter .contents .contentsNav a.active li::before {
    content: '▶︎';
    color: #FF3300;
    padding-right: 10px;
}

.isGoopter .contents .contentsDesc .card {
    border-left: #FF3300 10px solid;
    padding: 30px;
}

/* What sets us apart */

.whatSets {
    position: relative;
    padding: 40px 30px;
}

.whatSets ul {
    list-style: disc;
}

.whatSets .devider {
    width: 300px;
    transform: rotate(90deg);
    /* display:inline-block; */
    position: absolute;
    top: calc(50% + 60px);
    left: calc(50% - 150px);
}

.right-box {
    /* border-left: 1px solid gray; */
    padding-left: 50px;
}

.whatSets .btn {
    margin-right: 40px;
}

.whatSets p.weaker {
    font-size: 16px;
    color: 505050;
}

/* what are you waiting for */

.waitingFor {
    background: #FFEBE6;
}

.waitingFor .contents {
    text-align: center;
    padding-bottom: 30px;
    width: 300px;
    margin: 0 auto;
}

.waitingFor .contents img {
    float: left;
}